# Terraform files
.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Ansible local/secrets
ansible/inventory.local.ini
ansible/.vault_pass.txt
ansible/*.retry
ec2_key.pem
deploy-vars.json
*.pem
*.key

# Kubernetes local/secrets
k8s/secret.yaml
k8s/*.local.yaml
